header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
}
h1 {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #FF00FF; 
 font-size: 18px;
}
body {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #000001; 
 font-size: 20px;
}