header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
}
h1 {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #FFFF0F; 
 font-size: 18px;
}
body {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #FFFFFF; 
 font-size: 20px;
}